body {
  font-size: 10px;
}

.fl {
  display: flex;
  flex-flow: row wrap;

  &_c {
    flex-flow: column;
  }

  &_ac {
    align-items: center;
  }

  &_jc {
    justify-content: center;
    
  }
}


.m {
  &-rl-a {
    margin-left: auto;
    margin-right: auto;
  }

  &-l-a {
    margin-left: auto;
  }

  &-r-a {
    margin-right: auto;
  }
}
