@for $i from 0 through 50 {
  // Margin
  .m {
    &-t-#{$i} {
      margin-top: calc(#{$i}rem / 10);
    }

    &-r-#{$i} {
      margin-right: calc(#{$i}rem / 10);
    }

    &-b-#{$i} {
      margin-bottom: calc(#{$i}rem / 10);
    }

    &-l-#{$i} {
      margin-left: calc(#{$i}rem / 10);
    }
  }

  // Padding
  .p {
    &-rl-#{$i} {
      padding-right: calc(#{$i}rem / 10);
      padding-left: calc(#{$i}rem / 10);
    }

    &-t-#{$i} {
      padding-top: calc(#{$i}rem / 10);
    }

    &-r-#{$i} {
      padding-right: calc(#{$i}rem / 10);
    }

    &-b-#{$i} {
      padding-bottom: calc(#{$i}rem / 10);
    }

    &-l-#{$i} {
      padding-left: calc(#{$i}rem / 10);
    }

    &-all-#{$i} {
      padding: calc(#{$i}rem / 10);
    }
  }

  // Font Size

  .fsz {
    &-#{$i} {
      font-size: calc(#{$i}rem / 10);
    }
  }
}

@for $d from 0 through 100 {
  // Width
  .w-#{$d} {
    width: #{$d}rem;

    &p {
      width: percentage($d /100);

      &-n > * {
        width: percentage($d /100);
      }
    }

    &-tb {
      @media #{$tablet} {
        width: #{$d}rem;
      }

      &-p {
        @media #{$tablet} {
          width: percentage($d /100);
        }
      }
    }

    &-mob {
      @media #{$smartphone} {
        width: #{$d}rem;
      }

      &-p {
        @media #{$smartphone} {
          width: percentage($d /100);
        }
      }
    }
  }

  // Height
  .h-#{$d} {
    height: calc(#{$d}rem / 10);
  }
}

$z-index: (
  default: 0,
  modal: 100,
);

@function z-index($depth) {
  @return map-get($z-index, $depth);
}

@mixin z-index($depth) {
  z-index: z-index($depth);
}
