.flex.flex-row-wrap.m-t-10
  p.m-b-25 Stoa - это мы, отправившиеся вместе в путешествие. Мы - союзники. Мы играем в
    | консенсус и достигаем одних целей. Название Stoa - это постоянное напоминание о том,
    | чем нам следует руководствоваться - холодным рассудком и благими побуждениями,
    | стремлением к простоте и осмысленности.
  
  h2.m-b-10.fsz-20 Stoa Business Solutions
  p.m-b-20 Stoa Business Solutions - это наш вклад в развитие культуры. Мы разрабатываем Stoa
    | Business Solutions для себя и продаем приятный опыт ведения и развития бизнеса другим
    | людям. Stoa Business Solutions - это коммерческое предложение от Stoa миру, наш добрый
    | жест, наше самовыражение в работе и цель, работа над достижением которой, нас
    | объединяет.
  h1.w-100p.m-t-40.m-b-40.fsz-44.text-center.primary-red Stoa Manifestos
  h2.m-b-10.fsz-20 Цель
  p.m-b-20 Цель данного документа - синхронизация внутри Stoa и со внешним миром путем
    | публичного объявления намерений и принципов на которых мы строим отношения внутри
    | Stoa и со всем остальным миром.
  h2.w-100p.m-b-20.fsz-24.text-center.primary-blue Добро пожаловать в стоический мир
  | Неудовлетворенность. Это то, что наполняет нашу жизнь. Мы всегда желаем большего, но
  | почему так? Иначе говоря, зачем нам это большее?Есть момент рождения и есть момент смерти. Между ними существует и развивается то,
  | что мы называем собой. Жизнь - это опыт. Удовлетворение, гнев, покой, вожделение,
  | отвращение и другие чувства - это и есть самое важное, потому как живем мы не для чего-
  | то, но потому что. Из-за этого отсутствия смысла, но наличия причины многие из нас
  | переживают кризис. Не стоит и говорить о том, что сам опыт может быть неприятным,
  | даже ужасным.
  | Кто не озабочен поиском хлеба - тот уж точно озабочен поиском смысла. Этот поиск
  | смысла кажется эмпатией к природе. Мы персонифицируем ее, называем матерью и
  | ожидаем что у нее есть планы на наш счет, но у природы, у звезд, у бога нет планов на наш
  | счет. Этот план должен возникать у нас самих и он должен быть связан с чем-то
  | превосходящим нас, с чем-то, что делает не только наш собственный опыт, но и опыт
  | окружающих лучше.
  | Стоицизм
  | В античных Афинах под расписной стоей собирались ученики Зенона, позже названные
  | школой стоиков и оформившей философию стоицизма. Эти люди были абсолютно такими
  | же людьми, с абсолютно такими же органами чувств и эмоциями, и задающими те же
  | вопросы, что и мы задаем в наш век.
  | То, к чему пришли те люди, пришли и мы сейчас, спустя более 2300 лет со времен встреч
  | под Стоей. Мы не продвинулись далее, но познали универсальное то же. Это знание не
  | прочитанное, но прочувствованное, воспринятое в более качественный способ,
  | сформировало нас в значительной степени и дало нам ориентиры и все необходимые
  | приборы и принадлежности для нашего путешествия.
  | Система
  | Еще Аристотель заметил, что целое есть более чем множество компонентов,
  | составляющих его. Каждая система, даже такая большая как Вселенная - это множество
  | компонентов и логика что их связывает взаимодействиями. Эта логика и создает то
  | “более”. Эта логика - это то, что отличает живой организм, от множества органов, чторазложены на столе у патологоанатома или в мясной лавке. Логика - это жизнь. Это
  | непостижимое редукционизму и занимательное.
  | Абстракция
  | Абстракция - это отметание деталей, незначительных в определенном контексте.
  | Абстракция - это всегда не вещь в себе, но ее проекция на интересующую нас предметную
  | область. Когда мы говорим об абстрактном, то стоит понимать, что мы говорим не о чем-то
  | конкретном, но об общем свойстве нескольких вещей, даже не о нескольких похожих
  | вещах.
  | Холон
  | Основная идея к которой пришли исследователи систем - это идея о том, что никаких
  | систем не существует. Система - это абстрактный механизм работы, а не реально
  | существующий. Система - это всегда наше представление о чем-то, при чем в жестко
  | ограниченном контексте.
  | Как итог, многие системология заменили объект исследования - систему на холон, а
  | системным мышлением обозвали рассмотрение системы как холона, то есть с абсолютно
  | различных сторон и в контексте множества вообразимых взаимодействий.
  | Холон - это попытка постичь вещь в себе снаружи, которая разбилась о декогеренцию или
  | всепроникновенность информации, тотальный обмен ею, то есть отсутствие строгих
  | границ систем или вечно “текущую” абстракцию - систему. Объект исследования стал
  | размыт и потерял границы, а новому пониманию “объекта” исследования дали название -
  | холон.
  | Вещей как бы не существует. Любая вещь - это просто временное уплотнение одного и
  | того же. Все - одно.
  | ВселеннаяВселенная - это все, что есть, было и будет. Вселенная - это единое и непрерывное
  | преобразование. Значимые для нас аспекты Вселенной - те, с которыми мы способны на
  | взаимодействия.
  | Материя
  | Материя - это то, с чем мы способны взаимодействовать, состоя из материи. Материя - это
  | то, с чем возможен наш обмен. Материя - это все доступные нам взаимодействия. Если и
  | есть что-то кроме материи - нам нет никакого до этого дела, поскольку, будучи материей и
  | взаимодействуя только с материей, что-то кроме материи будет неощутимо и
  | непостижимо, уже по определению материального. Этого попросту не будет существовать
  | для нас. Если открыть новые взаимодействия, доселе не известные, то они так же будут
  | взаимодействиями материальными.
  | Жизнь
  | Живое не может родиться из мертвого, как противоположности. Мертвое и живое есть
  | лишь градиент одного и того же, в нашем, материальном мире, это свойство к рефлексии и
  | самоорганизации материи. Другими словами, жизнь - это имманентное свойство самой
  | материи. Материя жива!
  | Интеллект
  | Как может разумное родиться из глупого? Интеллект - это так же градиент, как и жизнь,
  | это так же свойство материи и, более того, это один из аспектов жизни, который отвечает
  | за рефлексию и восприятие.
  | Жить полной жизнью значит жить интеллектуальной жизнью. Рефлексия не менее важна
  | для нашего опыта чем восприятие. Более того, рефлексия в значительной мере
  | модифицирует восприятие, в то время, как восприятие служит лишь “бутылочным
  | горлышком” для рефлексии в познании условно внешнего мира.Коммуникации
  | Чем больше мы коммуницируем с внешним миром - тем более мы интеллектуальны, тем
  | более мы взаимно вплетены, тем более мы способны к взаимному познанию, тем более мы
  | способны к взаимной адаптации, воздействиям друг на друга и даже взаимодействиям,
  | тем более мы успешны в том, что посчитаем за успех и тем более наш успех похож на успех
  | доступного нашему пониманию внешнего мира, то есть согласован с ним и не вызывает
  | конфликтов.
  | Изменения
  | Сталкиваться с чем-либо, внедряться в него - это перемещение в новый контекст, в новую
  | экосистему для своей жизни, это бегство из старого в новое, через его, часто
  | болезненное, познание, адаптацию и приспособление его для наших потребностей. Это
  | столкновение - вынужденное. Меняться - это всегда больно и затратно, а потому всегда
  | должен быть еще более болезненный и опасный стимул для этого.
  | Изменения доставляют дискомфорт и даже навеивают ужас, но в них и есть жизнь, потому
  | что только в них есть продолжение. Как только мы перестаем меняться, - то, осознающее
  | себя уплотнение материи, что мы называем собой, начинает игру в конкуренцию со
  | Вселенной, с Законом и с самим собой, будучи частью Всего. Это безумство есть
  | настоящее самоубийство, ведь способность к изменениям в общем-то и есть жизнь.
  | Обратная связь
  | Обратная связь - это наш опыт, это ощутимые и осознаваемые ответные реакции внешнего
  | мира на наши воздействия, это познаваемые причинно-следственные связи на которых мы
  | можем учиться, если будем достаточно открыты.Осознанность
  | Наша развитая лобная доля сделала нас экстраординарными существами. Она позволяет
  | нам отсеивать ненужную информацию, предоставляет нам кратковременную память,
  | отвечает в значительной степени за выработку дофамина, позволяет нам находить
  | причинно-следственные связи, планировать, быть сдержанными и создавать достаточно
  | крупные и отлично организованные сообщества, способные соединять разрозненные миры
  | мостами и космическими аппаратами. Это мягкое в нас оказалось значительно тверже
  | когтей самых страшных древних врагов человека - медведей и крупных кошачьих.
  | Лобная доля - это то, что позволяет человеку быть Человеком за предоставления нам
  | осознанности. Развивая свою осознанность, развивая свою способность к пребыванию
  | здесь и сейчас, мы становимся лучшими Человеками и проживаем более полную жизнь,
  | медитируя, погружаясь максимально глубоко в свои и чужие ощущения и получая более
  | богатый опыт.
  | Что такое коготь тигра, без его сильных мускулов и сухожилий и без его навыков? - Лишь
  | талисман на веревочке. Точно так же и наша осознанность - ничто, без постоянных
  | тренировок. Осваивать пребывание здесь и сейчас, учиться отсеивать шум, учиться
  | сохранять спокойствие в любой ситуации - это главнейшая задача каждого, кто практикует
  | стоицизм. Без этого невозможно получать приятный и богатый опыт, без этого любой Путь
  | превращается в пребывание в аду, ведь без осознанности отсутствует обучение, а любое
  | изменение - спонтанно и лишь накапливает вредную сложность и приближает нашу
  | смерть.
  | Гармония целеустремленности и познания
  | Цель указывает направление, без нее нельзя никуда прибыть. Многие исследования
  | работы человеческого мозга демонстрируют, что наличие целей - это фундаментальное
  | обуславливающее человеческое поведение и что режим “преследования цели”
  | отфильтровывает весь информационный шум.Другой режим - “рысканье” так же необходим человеку для познания окружающего мира
  | вне контекста каких-либо конкретных целей. Это режим позволяет нам воспринимать
  | окружающее нас более полно, хаотично познавать холоны и синтезировать новые мемы.
  | Оба режима крайне необходимы, первый позволяет нам осмысленно двигаться, второй -
  | познавать территорию и контекст, редактировать нашу карту-представление и наши цели,
  | которые могут со временем терять актуальность или изменяться. Значительный перекос в
  | любую сторону делает нас безумцами и заставляет страдать нас самих и многих, кто нас
  | окружает.
  | ЦЕЛЬ
  | Я - точка зрения, новая, смелая. Я - это мой опыт. Я - холон, все и ничто, малое и большое
  | разом. Во всем я вижу отражения себя и все отражается во мне. Все, что окружает меня -
  | меня формирует и формируемо мной. Мой опыт - это моя жизнь. Моя жизнь - это мой
  | опыт. Мои чувства - это Я. Мир - моя интерпретация. Мое самоощущение и мое поведение
  | - это качество меня. Тяжесть - это плохой Я. Легкость - это хороший Я. Безумство - это
  | плохой Я. Осознанность - это хороший Я. Грубость - это плохой Я. Вежливость - это
  | хороший Я. Хороший Я - хорош потому что переживает хороший опыт, его жизнь хороша.
  | Плохой Я - плох потому что переживает плохой опыт, его жизнь плоха. Жизнь - это все, что
  | у Я есть. Хорошая жизнь, хороший опыт - это единственная имеющая смысл, не безумная!,
  | ЦЕЛЬ.
  | Игры
  | Игра - это абстракция. Основная идея этой абстракции - это выработка здорового
  | отношения к происходящему. Игра - это все, к чему мы относимся спокойно, сдержанно,
  | даже хладнокровно.
  | Я выделяю такую категорию игр как “отношения между игроками”. Эта категория имеет
  | всего два дискретных значения: сотрудничество и противостояние или конкуренция.
  | Различия в этих играх на столько существенны, что рассматривать их стоит отдельно.Игра в конкуренцию
  | Игра в конкуренцию - это всегда игра либо безумцев, либо игра за ограниченный и
  | жизненно необходимый ресурс. В таких играх всегда есть победители и побежденные, а
  | последствия игры ограничиваются кратковременной победой. Игры в конкуренцию - это,
  | чаще всего, очень рисковые и очень затратные игры. Объяснить это просто: конкуренция -
  | это всегда не цель, а потому конкуренция нас отдаляет от цели, отнимая время и любые
  | другие ресурсы. В общем случае конкуренции следует избегать, а путь к цели должен быть
  | максимально подобен перемещению.
  | Игра в сотрудничество
  | Игры в сотрудничество - это игры в которых интересы всех игроков совпадают, а
  | максимального, если не единственно возможного, результата игроки могут достигнуть
  | только помогая друг другу. При этом максимально полезные и продолжительные
  | отношения создаются за счет специализации. Специализация, ремесло - это очень ценная,
  | по-хорошему, сакральная для нашего крайне социального вида штука. Это на столько
  | важно для нас, что все мы это неосознанно понимаем и ценим.
  | Игры в сотрудничество - это долгосрочные игры и в этих играх никогда не побеждает кто-
  | то один или самостоятельно, в них всегда побеждает команда и только как превосходная
  | команда. Плохие команды не побеждают потому что не команды они вовсе. Они - сброд и
  | способны только на то, чтобы разбегаться при возникновении первых неприятностей.
  | Рынок
  | Слово “рынок”, как и множество других слов, имеет несколько смыслов. Каждый его
  | смысл - это абстракция. Пожалуй, самая широкая абстракция - это знак равенства между
  | понятиями рынка и обмена.Обмен осуществляют агенты, очевидно, с целью получить выгоду ибо отсутствие выгоды
  | делает любою транзакцию бесполезной. Только безумцы не имеют выгод от своих
  | действий, ведь их действия - глупые и опасные блуждания слепцов.
  | Идеи рынка и специализации приводят нас к игре в сотрудничество. Вместо
  | противостояния однообразия, специалисты (разнообразие) могут пойти в разные отрасли и
  | ниши, познавать разное, заниматься разным, производить разное, упаковывать по-
  | разному, презентовать по-разному, доставлять по-разному и т.д.
  | Рынок учит нас производству чего-то что мы умеем производить хорошо и в избытке и
  | обмену избытков этого на то, что мы умеем производить плохо и что для нас в дефиците.
  | Специализация - это путь дифференциации и улучшения качества предоставляемого вами
  | опыта, но только для более узкой аудитории, которой этот опыт подходит.
  | Чем более развит рынок (разнообразие, количество и размер обменов) и чем более
  | квалифицированны люди, что обмениваются опытами друг с другом — тем больше выгод
  | получает такое общество и тем лучше опыт переживает каждый его член.
  | Маркетинг
  | Слово “маркетинг” мы понимаем как участие в аутопоэзисе рынка. Без маркетинга нет
  | никакой торговли, нет позиционирования, нет изучения потребностей других, нет
  | возможности эффективной ненасильственной коммуникации. Без маркетинга нет никакого
  | сотрудничества, а значит нет никой ценности в человеческой жизни и удовольствия от нее.
  | Маркетинг - это наша точка соприкосновения с окружающей реальностью и рефлексия о
  | воспринятом. Любая эффективная коммуникация - это маркетинг. Если то, что мы говорим,
  | не решает чужих проблем - мы шумим. Если чего-то просим для себя - мы обуза. Стоит
  | стремиться к решению своих проблем не через создание проблем для других, но через
  | помощь в решении чужих проблем. Изучением возможности такого решения своих
  | проблем и реализацией этой возможности занимается маркетинг. Без маркетинга нет
  | предметного общения, здоровой синхронизации и мира, жизнь превращается в
  | выживание, а люди становятся хищниками друг на друга.
  | Маркетинг - это самая гуманитарная и самая гуманная наука, квинтэссенция всего опыта и
  | знания об успешных практиках заботы друг о друге, что человечество накопило.Забота
  | Забота - это максимальное, что мы можем дать другому человеку, но из этого не следует
  | того, что мы даем человеку что-то, чего он хочет или что ему необходимо. Чтобы
  | заботиться о ком-то и чтобы наша забота конвертировалась в отличный опыт для
  | человека, а не в принуждение, унижение, информационный шум и различные другие
  | неприятности, нам следует знать этого человека очень хорошо и постоянно желать узнать
  | его еще лучше, думать как он, чувствовать как он.
  | Забота - это то, чем занимаются современные маркетологи и то, чем следует заниматься
  | всем людям в своих окружениях из которых они хотели бы создать нечто большее. Забота
  | о других - это их воспитание тому, как следует заботиться о тебе. Когда же мы обижаем
  | других людей - мы учим их и даем им повод обижать нас.
  | Лидерство
  | У слова “лидер” есть несколько значений. Разные люди называют лидером и первого и
  | лучшего и главного. Я же считаю, что лидер - это тот за кем идут, но не первый, лучший и
  | уж точно не главный.
  | Лидер - это тот за кем идут, а значит лидером нельзя быть, им за тебя есть идущие за
  | тобой, но что еще любопытней, так это то, что людям нет смысла ходить друг за другом,
  | кроме как с целью переместиться в лучшее. Именно это желание перемещения и есть их
  | лидером, ведущим за собой.
  | Цель - их лидер.
  | Опыт - их наставник.
  | Сами они - осознавание.Эмоции
  | Настоящий лидер - это побуждение, а самое сильное побуждение - это побуждение
  | эмоциональное. Это означает, что все значимое строится в большей мере эмоциональной
  | энергией человека, его волей к переходу из настоящего в кажущееся лучшее. Это значит,
  | что каждому из людей следует развиваться и раскрепощаться эмоционально, чтобы
  | обладать большей эмоциональной энергией для достижения своей цели.
  | Чем больше энергии в мемах, которые мы транслируем - тем больше людей обретают ту
  | же цель и тем более влечем мы их, заряжая своей эмоциональной энергичностью, к цели и
  | к самим себе и тем более мы синхронизированы и действуем без конкуренции и вместе.
  | Прощение
  | Вы задумывались о том, почему дети врут своим родителям? По всей видимости, правда и
  | признание не поощряются, но наказываются, а потому искореняются насилием самих
  | родителей. В “отплату” родители получают разрыв отношений с ребенком (избегание) и
  | становятся еще более безумными из-за лжи ребенка, а сам ребенок, если ложь
  | оказывается очень эффективной, начинает лгать автоматически с целью и без, что позже
  | будет отталкивать других людей уже от него самого.
  | Если мы не желаем приумножать свое безумие и желаем знать о проблемах и решать их в
  | наиболее эффективный, безболезненный и дешевый способ - нам следует воспитывать в
  | себе способность к прощению и терпеливость в отношении наших менее способных
  | союзников.
  | Ошибки
  | Ошибки - это неизбежность. Их не стоит бояться, но стоит приветствовать как самых
  | преданных делу учителей.Когда ошибки порицаются - происходит избегание от самой возможности совершить
  | ошибку - действия. Когда ошибки порицаются - начинается паралич, а потом происходит
  | смерть.
  | Ошибка - это элемент опыта. Хороший или плохой - зависит только от нашего отношения к
  | ним.
  | Манифест Stoa
  | Мы, те, кто относит себя к Stoa практикуем стоицизм и осознанность.
  | Мы ищем консенсус.
  | Мы не конкурируем.
  | Мы не осуждаем.
  | Мы задаем вопросы.
  | Мы откровенны.
  | Мы экспериментируем.
  | Мы всегда допускаем что наши предположения могут быть ошибочны.
  | Мы думаем в долгосрочной перспективе и нас интересует создание эффективной и
  | безопасной экосистемы, а не сиюминутные выгоды.
  | Мы стремимся к лучшему опыту и видим путь к нему в синхронизации с окружающим
  | миром, что заключается в предоставлении лучшего опыта способным на благодарность
  | людям.Корпоративный Манифест Stoa Business
  | Solutions
  | Мы разрабатываем решения для бизнеса, которые хотели бы использовать сами, более
  | того, мы первыми используем собственные решения и предлагаем их другим людям только
  | когда эти решения удовлетворяют нас самих.
  | Мы рассматриваем все взаимодействия с клиентом как маркетинг.
  | Наша задача состоит не в продаже сервисов, но в продаже приятного опыта ведения и
  | развития бизнеса. Это значит, что доработка существующих сервисов и экосистемы
  | превыше разработки новых сервисов, а приятный опыт клиента превыше нашего желания
  | продать ему больше сервисов.
  | Мы сообщаем клиентам о проблемах на своей стороне прежде, чем о них сообщат другие.
  | Мы заботимся о безопасности данных наших клиентов.
  | Мы работаем в автономных командах, которые ориентированы на достижение конкретных
  | целей, ограниченных по времени и по ресурсам.
  | Мы регулярно выполняем ревью нашей работы с целью саморефлексии и улучшения наших
  | методов и опыта, что мы предоставляем людям.
  | Мы всегда пытаемся решить не последствия, а проблему, которая находится “выше”.
  | Если решение сложное - оно больше похоже на еще одну проблему и никуда не годится.
  | Мы ориентируемся на долгосрочное и тесное сотрудничество с клиентами, более того,
  | только такое нас устраивает.
  | Мы обучаем клиентов, если они нам это позволяют.
  | Мы отдаем предпочтение тем клиентам, кто более тесно сотрудничает с нами.Мы работает с теми клиентами, которым наши решения подходят.
